<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta name="google-site-verification" content="8fxuiu98K2Afbfzwh1CiLBflbHQ3M-FRm1AGi5ayHDQ" />
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"
    media="screen" type="text/css">
  <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">

  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

  {% seo %}

  {% include head-custom.html %}

  <!-- MathJax configuration -->
  <script>
    window.MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        displayMath: [['$$', '$$'], ['\\[', '\\]']]
      },
      svg: {
        fontCache: 'global'
      }
    };
  </script>

  <!-- MathJax -->
  <script src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js" defer></script>
  <!-- <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"> -->
  </script>
  <script>
    (() => {
      const saved = localStorage.getItem("theme");

      if (saved) {
        document.documentElement.setAttribute("data-theme", saved);
      } else if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        document.documentElement.setAttribute("data-theme", "dark");
      }
    })();
  </script>

</head>

<body>
  <div id="reading-progress"></div>
  <header class="hero">

    <div class="hero-card">

      <div class="hero-left">

        <div class="profile-image">
          <img src="{{ '/assets/images/profile.jpg' | relative_url }}" alt="Shubham Kumar">
        </div>

        <div class="hero-info">

          <h1>Shubham Kumar</h1>

          <p class="subtitle">
            Backend Engineer • Python • Django
          </p>

          <p class="description">
            I write about scalable backend systems,
            distributed architecture,
            Django internals,
            algorithms and databases.
          </p>

          <div class="hero-buttons">
            <a class="btn" id="theme-toggle" aria-label="Toggle theme">🌙</a>
            <a class="btn" href="{{ site.github_url }}">GitHub</a>
            <a class="btn" href="{{ site.linkedin_url }}">LinkedIn</a>
            <a class="btn" href="{{ site.portfolio_url }}">Portfolio</a>
            <a class="btn" href="{{ site.instagram_url}}">Instagram</a>

          </div>

        </div>

      </div>
    </div>

  </header>

  <div id="content-wrapper">
    <div class="inner clearfix">
      <section id="main-content">
        {{ content }}
      </section>
    </div>
  </div>
  <script src="{{ '/assets/js/theme.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/progress.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/copy.js' | relative_url }}"></script>
</body>

</html>